@import 'mapbox-gl/dist/mapbox-gl.css';

// FONT VARIABLES
$serif: 'Playfair Display', serif;
$sans-serif: 'Poppins', sans-serif;


// COLOR VARIABLES
$blue-dark: rgb(6, 30, 54);
$blue-light: rgb(194, 228, 255);
$blue-contrast: rgb(166, 216, 254);
$redgray-dark: rgb(191, 171, 171);
$redgray-light: rgb(239, 235, 239);

body, nav {
    background-color: $blue-light;
    color: $redgray-dark;
    font-family: $sans-serif;
    margin: 0;
}

nav {
    background-color: $blue-light;
    font-weight: 500;
    box-shadow: 0px 3px 3px $blue-contrast;
    margin-bottom: .5rem;
    
    button {
        text-decoration: inherit;
        border: inherit;
        background-color: inherit;
        font: inherit;
        color: inherit;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem 0 1rem;
    }
    .nav-left {
        display: flex;
        align-items: center;
    }

    .nav-title {
        font-weight: 600;
        text-shadow: .125rem .125rem $redgray-light;
        margin-left: 1rem;
    }
    .nav-title:hover, .nav-link:hover {
        cursor: pointer;
        text-shadow: -.125rem .125rem $redgray-light;
    }
   
    .nav-list {
        text-align: right;
    }
    
    .nav-link {
        margin-left: 1rem;

    }

    .nav-signup {
        border: 1px solid $redgray-dark;
        padding: .5rem;
        border-radius: 30px;
    }
    .nav-signup:hover {
        background-color: $redgray-dark;
        color: $redgray-light;
        text-shadow: .125rem .125rem $redgray-dark;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-title, .input-container label {
    text-shadow: -.125rem .125rem $redgray-light;
    }

    .input-container {
        position: relative;
        margin-bottom: 1rem;
    }

    .input-container label {
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 0.33s ease-in-out;
        pointer-events: none;
    }

    .form-input {
        border: none;
        border-bottom: 2px solid rgba(239, 235, 239, .5);
        color: $redgray-dark;
        background-color: transparent;
        width: 100%;
        padding: .5rem 0 .5rem 0;
        font-size: 1rem;
    }
    .form-input:focus {
        border: none;
        outline: none;
        border-bottom:  2px solid $redgray-light;
    }
    .form-input:focus ~ label,
    .form-input:valid ~ label
     {
        top: -.75rem;
        font-size: .75rem;
    }
}